@import "tailwindcss";
@plugin "daisyui"{
    themes:all;
}
/* Add this to your CSS file or in a <style> tag */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }
  